
canvas{
  width: 600px;
  height: auto;
  display: inline-block;
  border: 1px solid skyblue;
  margin: 5px;
  margin-left:3px;
}
.bu{
margin-left:80%;
}

.btn-info{
font-size:1.2em;
background-color:#eee;
margin-top:5%;
width:30%;
height:50px;
border-radius:5px;
}
.btn-info:hover{
font-size:1.2em;
background-color:#ccc;
}

textarea {
	font-family: Georgia, 'Times New Roman', Times, serif;
	vertical-align: text-top;
	width: 520px;
	height: 100px;
	resize: vertical;
	padding: 10px;
	margin-top:10px;
}
input[type=text} {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

